<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <div class="hello"><h1>HELLO</h1></div>
    <div class="grid">
        {{range .}}
        <div class="cell">
            <h2>
                champion name: 
            </h2>
            <h3>
                {{.Name}}
            </h3>
            <h2>
                champion role: 
            </h2>
            <h3>
                {{.Role}}
            </h3>
            <h2>
                 champion strong vs: 
            </h2>
             <h3>
                    {{.StrongVS}}
            </h3>  
             <h2>
                champion weakvs: 
            </h2>
            <h3>
                {{.WeakVS}}
            </h3>
        </div> 
        {{end}}
    </div>
    
</body>
</html>