body{
    background-color: black;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3px;
    margin: 0;
    gap: 30px;
}

.cell{
    background-color: rgb(34, 34, 34);
    opacity: 80%;
    border:  3px solid aliceblue;
}
.cell:hover{
    font-size: 120%;
}
.cell > h2{
    color: aqua;

}
.cell >h3{
    color: rgb(0, 175, 175);
}
.hello{
    display: flex;
    justify-content: center;
}
h1{
    color: aqua;
}