body{
    background-color: black;
}

title{
    /* text-transform: capitalize; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3px;
    margin: 0;
    gap: 30px;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit,minmax(280px,1fr)); */
}

.gridSingle{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3px;
    margin: 0;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.info{
    color: aliceblue;
}

.cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    opacity: 80%;
    border:  3px solid aliceblue;
    transition: all .15s ease-in-out;
    overflow: hidden;
}
.cell:hover{
    /* transform: scale(1.1); */
    font-size: 120%;
}
.cell >h1{
    font-size: 20px;
    color: aqua;
    text-transform: uppercase;
}
.cell > h2{
    color: aqua;
}
.cell >h3{
    color: rgb(0, 175, 175);
    text-transform: uppercase;
}
.grid > .cell > .img{
    transition: all .15s ease-in-out;
}

.grid > .cell > .img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.hello{
    display: flex;
    justify-content: center;
}
h1{
    color: aqua;
    text-transform: capitalize;
}

.strong >h2, .role >h2, .weak >h2{
    color: aqua;
    margin: 10px;
    font-size: 26px;
    text-transform: capitalize;
    /* border-bottom: 3px solid white; */
    
}
h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
}
hr{
    padding: 0%;
    width: 75px;
    margin-top: 5px;
}

a{
    display: flex;
    margin: 25px;
    justify-content: center;
    text-decoration: none;
}

@media (min-width: 400px){
    .grid {grid-template-columns: repeat(1, 1fr);}
}
@media (min-width: 500px){
    .grid {grid-template-columns: repeat(2, 1fr);}
}
@media (min-width: 700px){
    .grid {grid-template-columns: repeat(3, 1fr);}
}
@media (min-width: 1000px){
    .grid {grid-template-columns: repeat(4, 1fr);}
}
@media (min-width: 1200px){
    .grid {grid-template-columns: repeat(5, 1fr);}
}
